<form method="POST" action="/new">
label= "Message"
br
input(type="text" id="msg" name="msg")
br
label= "Name"
br
input(type="text" id="author" name="author")
br
button(type="submit" value="Submit")= "Submit" 
</form>